@font-face {
    font-family: 'Varino';
    src: url('../fonts/Varino-Normal.woff');
}

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100dvh;
    background: #000;
    margin: 0;
    padding: 30px;
}


.pagina-erro-404{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100dvh;
    font-family: 'Varino', sans-serif;
}

.disco-voador{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    top: calc(50% - 200px);
    animation: voar 1.2s ease-out;
}

.disco-voador.flutuar{
    top: calc( 50% - 200px);
    animation: flutuar 2s linear infinite alternate;
}

@keyframes flutuar{
    from{
        transform: translateY(-10px) scale(0.95);
    }to{
        transform: translateY(10px) scale(1);
    }
}

@keyframes voar{
    from{
        top: 0;
        transform: scale(0.1) translate(150%, -200%);   
    }
}

.disco-voador img{
    position: relative;
    z-index: 2;
    width: 250px;
    filter: drop-shadow(0 0 15px #00CCFF);
}

.disco-voador .luz{
    position: absolute;
    z-index: -2;
    top: -70px;
    width: 25px;
    height: 0;
    border: 150px solid transparent;
    border-bottom: 200px solid transparent;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.disco-voador.devolver .luz{
    border-bottom-color: #78FFDD;
    filter: drop-shadow(0 0 20px #00FFBF)
}

.pagina-erro-404 .conteudo{
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
}

.pagina-erro-404 .conteudo h1{
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
    font-size: 4.5rem;
    letter-spacing: 15px;
    color: #fff;
    transition: 1s ease-in;
}

.pagina-erro-404 .conteudo h1.animar{
    display: block;
    text-shadow: 0 5px 15px #00FFBF;
    animation: devolver 2s linear;
}

.pagina-erro-404 .conteudo p{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #eee;
    text-shadow: 0 2px 10px #00FFBF;
    font-size: 1rem;
    line-height: 25px;
    transform: translateY(20px);
    opacity: 0;
    transition: 1s ease-in;
}

.pagina-erro-404 .conteudo p.mostrar{
    opacity: 1;
    transform: translateY(0);
}

@keyframes devolver{
    from{
        top: -20%;
        transform: scale(0);
    }to{
    }
}